header {
  .logo {
    font-weight: 600;
    font-size: 26px;
  }
  .nav {
    float: right;
    list-style: none;
    li {
      display: inline;
      margin-left: 25px;
      margin-top: 5px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
      transition: opacity 500ms ease;

      &:hover {
        opacity: 0, 5;
      }
    }
  }
  .presentation {
    margin: 50px 0;
    background: url('../../assets/bff284ac0e4d2622a4d62302a4d73b1b.jpeg');
    width: 100%;
    height: 500px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 15px;

    &::after {
      content: 'Обучайся онлайн';
      color: black;
      position: absolute;
      top: 350px;
      left: 910px;
      font-weight: 600;
      font-size: 36px;
    }
    &::before {
      content: 'всегда и везде';
      color: black;
      position: absolute;
      top: 400px;
      left: 990px;
      font-weight: 600;
      font-size: 24 px;
    }
  }
}
