header {
  position: relative;
  .empty {
    h2 {
      font-size: 20px;
      margin: 20px auto;
      text-align: center;
    }
  }
  .summa {
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px ;
  }

  .icon {
    font-size: 30px;
    margin-right: 15px;
  }
  .logo {
    font-weight: 600;
    font-size: 26px;
  }
  .shopCartButton {
    font-size: 25px;
    transition: transform 1000ms ease;
    float: right;
    cursor: pointer;

    &:hover,
    & .active {
      color: #bcfd4c;
    }
  }

  .shopCart {
    position: absolute;
    top: 5 0px;
    right: 0;
    width: 400px;
    min-height: 100px;
    background: #bcfd4c;
    z-index: 1000;
    box-shadow: 14px 15px 19px -3px rgba(0, 0, 0, 0.73);
    -webkit-box-shadow: 14px 15px 19px -3px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 14px 15px 19px -3px rgba(0, 0, 0, 0.73);
    padding-bottom: 0;
    padding: 20px;
    border-radius: 15px;
  }
  .nav {
    float: right;
    list-style: none;
    li {
      display: inline;
      margin-left: 25px;
      margin-top: 5px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
      transition: opacity 500ms ease;

      &:hover {
        opacity: 0, 5;
      }
    }
  }
  .presentation {
    margin: 50px 0;
    background: url('../../assets/bff284ac0e4d2622a4d62302a4d73b1b.jpeg');
    width: 100%;
    height: 500px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 15px;

    &::after {
      content: 'Обучайся онлайн';
      color: black;
      position: absolute;
      top: 350px;
      left: 910px;
      font-weight: 600;
      font-size: 36px;
    }
    &::before {
      content: 'всегда и везде';
      color: black;
      position: absolute;
      top: 400px;
      left: 990px;
      font-weight: 600;
      font-size: 24 px;
    }
  }
}
