* {
  margin: 0;
  padding: 0;
}

body {
  background: #6e6e6e;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.wrapper {
  margin: 50px auto;
  width: 1250px;
}

/* font-family: "Roboto", sans-serif; */
